
/* CSS HEX */
:root {
  --ut-orange: #ff8811ff;
  --jasmine: #f4d06fff;
  --floral-white: #fff8f0ff;
  --tiffany-blue: #9dd9d2ff;
  --space-cadet: #392f5aff;
}

/*------------- Whole Document---------------- */

figure {
  margin-right: 15px;
  text-align: center;
  float: left; 
}

figure img {
  /* Maintain aspect ratio */
  height: auto;
  /* Remove any extra space below the image */
  display: block;
}

/* Style for the caption */
figcaption {
  /* Optional: Add a background color to improve readability */
  /*background-color: rgba(0, 0, 0, 0.7);
  /* Optional: Set text color */
  /*  color: #fff;
  /* Optional: Add padding for better aesthetics */
  /*  padding: 10px;
  box-sizing: border-box;
  /* Include padding in the width */
  display: block;
  /* Ensure the caption is a block-level element */
  /* Add space between the image and the caption */
  margin-top: 5px;
}