<!-- FISHING SPATIOTEMPORAL -->
<div>
  <strong><em>The Value of Shoreline Recreational Fishing Across Time and Space: An internal
      meta-regression approach</em></strong> (with <a href="https://www.linkedin.com/in/avn-econ" target="_blank"><span
      itemprop="author">Sasha Naumenko</span></a>, <a href="https://rvhaefen.wordpress.ncsu.edu/" target="_blank"><span
      itemprop="author">Roger von Haefen</span></a>, and <a href="https://www.linkedin.com/in/colton-leach-54a080136/"
    target="_blank"><span itemprop="author">Colton
      Leach</span></a>)
  <div class="d-flex gap-2 mb-2">
    <a class="btn btn-sm btn-outline-secondary mb-2" data-bs-toggle="collapse"
      href="#figures-fishing-spatio-temporal-value" role="button" aria-expanded="false"
      aria-controls="figures-fishing-spatio-temporal-value">
      Selected figures
    </a>
  </div>

  <div id="figures-fishing-spatio-temporal-value" class="collapse papers">
    <figure style="width:75%">
      <a href="/images/research/fishing-spatio-temporal/wtp_trip-annual-line.png" target="_blank">
        <img src="/images/research/fishing-spatio-temporal/wtp_trip-annual-line.png"
          alt="Annual WTP per trip estimates">
      </a>
    </figure>
    <figure style="width:75%">
      <a href="/images/research/fishing-spatio-temporal/sites_region.png" target="_blank">
        <img src="/images/research/fishing-spatio-temporal/sites_region.png"
          alt="Over 1,500 sites along the East Coast and Gulf of Mexico">
      </a>
    </figure>
    <figure style="width:75%">
      <a href="/images/research/fishing-spatio-temporal/origins-by-region.png" target="_blank">
        <img src="/images/research/fishing-spatio-temporal/origins-by-region.png" alt="Variation in origins by region">
      </a>
    </figure>
  </div>
</div>

<!-- CODA -->
<!-- <div>
  <strong><em>Stability in Centralized College Major Assignment: Evidence from NCSU
      Engineering</em></strong> (with <a href="https://sites.google.com/site/umutdur/" target="_blank"><span
      itemprop="author">Umut Dur</span></a>)
  <a class="btn btn-sm btn-outline-secondary mb-2" data-bs-toggle="collapse" href="#figures-CODA" role="button"
    aria-expanded="false" aria-controls="figures-CODA">
    Selected figures
  </a>

  <div id="figures-CODA" class="collapse papers">
    <figure style="width:75%">
      <a href="/images/research/ncsu-coda/gpa-majors.png" target="_blank">
        <img src="/images/research/ncsu-coda/gpa-majors.png"
          alt="Preference formation based on student GPA and historical averages">
      </a>
    </figure>
    <figure style="width:75%">
      <a href="/images/research/ncsu-coda/makeup-accepted-students.png" target="_blank">
        <img src="/images/research/ncsu-coda/makeup-accepted-students.png"
          alt="Students are very likely to be assigned their top choice">
      </a>
    </figure>
  </div>
</div> -->

<!-- ADDITIONALITY LIT REVIEW -->
<div>
  <strong><em>Additionality in the Market for Environmental Services</em></strong> (with <a
    href="https://spencerbanzhaf.wordpress.ncsu.edu/" target="_blank"><span itemprop="author">Spencer
      Banzhaf</span></a> and <a href="https://cnr.ncsu.edu/directory/erin-o-sills/" target="_blank"><span
      itemprop="author">Erin Sills</span></a>)
</div>

<!-- FISHING CLIMATE CHANGE -->
<div>
  <strong><em>Recreation Welfare Effects with Climate Change-Induced Migration</em></strong>
</div>