<div itemscope itemtype="https://schema.org/ScholarlyArticle">
  <strong><em>Stability in Centralized College Major Assignment: Evidence from NCSU
      Engineering</em></strong> (with <a href="https://sites.google.com/site/umutdur/" target="_blank"><span
      itemprop="author">Umut Dur</span></a>)
</div>
<a class="btn btn-sm btn-outline-secondary mb-2" data-bs-toggle="collapse" href="#figures-CODA" role="button"
  aria-expanded="false" aria-controls="figures-CODA">
  Selected figures
</a>

<div id="figures-CODA" class="collapse papers">
  <figure style="width:75%">
    <a href="/images/research/ncsu-coda/gpa-majors.png" target="_blank">
      <img src="/images/research/ncsu-coda/gpa-majors.png"
        alt="Preference formation based on student GPA and historical averages">
    </a>
  </figure>
  <figure style="width:75%">
    <a href="/images/research/ncsu-coda/makeup-accepted-students.png" target="_blank">
      <img src="/images/research/ncsu-coda/makeup-accepted-students.png"
        alt="Students are very likely to be assigned their top choice">
    </a>
  </figure>
</div>

<div itemscope itemtype="https://schema.org/ScholarlyArticle">
  <strong><em>Additionality in the Market for Environmental Services</em></strong> (with <a
    href="https://spencerbanzhaf.wordpress.ncsu.edu/" target="_blank"><span itemprop="author">Spencer
      Banzhaf</span></a> and <a href="https://cnr.ncsu.edu/directory/erin-o-sills/" target="_blank"><span
      itemprop="author">Erin Sills</span></a>)
</div>

<div itemscope itemtype="https://schema.org/ScholarlyArticle">
  <strong><em>Recreation Welfare Effects with Climate Change-Induced Migration</em></strong>
</div>