<style>
  .section h2 {
    color: #1d4b1f;
    /* color: #CC0000; */
  }
</style>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "Working papers",
  "itemListElement": [
    {
      "@type": "CreativeWork",
      "position": 1,
      "headline": "Transaction Costs for Offsets: Evidence from California",
      "author": {
        "@type": "Person",
        "name": "Willard Robinson",
        "affiliation": {
          "@type": "Organization",
          "name": "North Carolina State University"
        }
      },
      "dateCreated": "2025-09-18",
      "abstract": "Working paper identifying and measuring fixed costs to adopting offsets in a cap-and-trade regime.",
      "url": "https://wmrobin.github.io/research.html"
    },
    {
      "@type": "CreativeWork",
      "position": 2,
      "headline": "Impacts of Centralized Budget Policy on National Parks: An analysis of the Federal Land Recreation Enhancement Act",
      "author": {
        "@type": "Person",
        "name": "Willard Robinson",
        "affiliation": {
          "@type": "Organization",
          "name": "North Carolina State University"
        }
      },
      "dateCreated": "2025-09-18",
      "abstract": "Working paper that empirically tests for crowding out of federal appropriations in the National Park System following the 2004 Federal Lands Recreation Enhancement Act.",
      "url": "https://wmrobin.github.io/research.html"
    },
    {
      "@type": "CreativeWork",
      "position": 3,
      "headline": "The Value of Shoreline Recreational Fishing Across Time and Space: An internal meta-regression approach",
      "author": [
      {
        "@type": "Person",
        "name": "Willard Robinson",
        "affiliation": {
          "@type": "Organization",
          "name": "North Carolina State University"
        }
      },
      {
        "@type": "Person",
        "name": "Roger von Haefen",
        "affiliation": {
          "@type": "Organization",
          "name": "North Carolina State University"
        }
      },
      {
        "@type": "Person",
        "name": "Colton Leach",
        "affiliation": {
          "@type": "Organization",
          "name": "North Carolina State University"
        }
      },
      {
        "@type": "Person",
        "name": "Sasha Naumenko",
        "affiliation": {
          "@type": "Organization",
          "name": "Visa Corporation"
        }
      }
    ],
      "dateCreated": "2025-09-18",
      "abstract": "",
      "url": "https://wmrobin.github.io/research.html"
    },
    {
      "@type": "CreativeWork",
      "position": 4,
      "headline": "Stability in Centralized College Major Assignment: Evidence from NCSU Engineering",
      "author": [
        {
          "@type": "Person",
          "name": "Willard Robinson",
          "affiliation": {
            "@type": "Organization",
            "name": "North Carolina State University"
          }
        },
        {
          "@type": "Person",
          "name": "Umut Dur",
          "affiliation": {
            "@type": "Organization",
            "name": "North Carolina State University"
          }
        }
      ],
      "dateCreated": "2025-09-18",
      "abstract": "",
      "url": "https://wmrobin.github.io/research.html"
    }
  ]
}
</script>

<div itemscope itemtype="https://schema.org/ScholarlyArticle">
  <strong><em>Transaction Costs for Offsets: Evidence from California</em></strong>
</div>

<div class="d-flex gap-2 mb-2">
  <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" href="#abstract-cap-and-trade" role="button"
    aria-expanded="false" aria-controls="abstract-cap-and-trade">
    Abstract
  </a>
  <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" href="#figures-cap-and-trade" role="button"
    aria-expanded="false" aria-controls="figures-cap-and-trade">
    Selected figures
  </a>
  <!-- <a class="btn btn-sm btn-outline-secondary" href="/research/papers/robinson-california-cap-and-trade.pdf"
    target="_blank">
    Download draft
  </a> -->
</div>

<div id="abstract-cap-and-trade" class="collapse mb-2">
  <p>
    Emissions offsets remain an underutilized compliance instrument in California's cap-and-trade program despite
    trading at substantial discounts---sometimes less than two-thirds the price of a permit. A majority (50-75%) of
    firms never purchase an offset, leaving significant cost savings on the table. Using compliance data from 2013-2021,
    I identify fixed transaction costs as the primary barrier, and it is a substantial one---averaging over $220,600 in
    the energy generation sector to over $835,600 for general emitters. But this value is heavily skewed; median
    transaction cost estimates for first-time offset users in these same sectors are about $47,440 and $64,720,
    respectively, suggesting the average cost is driven by a few high-cost firms. Using the median cost estimates, I
    estimate that firms implicitly paid over $8 million in total transaction costs during the study period. Moreover,
    relative to a frictionless market, these barriers caused firms to forego nearly $40 million in potential cost
    savings. Whether these are search costs, risk premiums, or public relations concerns is still ambiguous; the paper
    ends by noting potential future directions of research.
  </p>
</div>

<div id="figures-cap-and-trade" class="collapse papers">
  <figure style="width:75%">
    <a href="/images/research/california-cap-and-trade/ts-prices.png" target="_blank">
      <img src="/images/research/california-cap-and-trade/ts-prices.png"
        alt="Offsets are persistently cheaper than CARB-issued permits.">
    </a>
  </figure>
  <figure style="width:75%">
    <a href="/images/research/california-cap-and-trade/offsets-obligation-cr-cp13.png" target="_blank">
      <img src="/images/research/california-cap-and-trade/offsets-obligation-cr-cp13.png"
        alt="The clustering in the raw data suggests a tangible adoption cost to using offsets.">
    </a>
  </figure>
  <figure style="width:75%">
    <a href="/images/research/california-cap-and-trade/cdf-potential-gains.png" target="_blank">
      <img src="/images/research/california-cap-and-trade/cdf-potential-gains.png"
        alt="There is selection into the offsets market -- firms with the most to gain are more likely to use offsets.">
    </a>
  </figure>
</div>

<div id="figures-fishing-spatio-temporal-value" class="collapse papers">
  <figure style="width:75%">
    <a href="/images/research/fishing-spatio-temporal/wtp_trip-annual-line.png" target="_blank">
      <img src="/images/research/fishing-spatio-temporal/wtp_trip-annual-line.png" alt="Annual WTP per trip estimates">
    </a>
  </figure>
  <figure style="width:75%">
    <a href="/images/research/fishing-spatio-temporal/sites_region.png" target="_blank">
      <img src="/images/research/fishing-spatio-temporal/sites_region.png"
        alt="Over 1,500 sites along the East Coast and Gulf of Mexico">
    </a>
  </figure>
  <figure style="width:75%">
    <a href="/images/research/fishing-spatio-temporal/origins-by-region.png" target="_blank">
      <img src="/images/research/fishing-spatio-temporal/origins-by-region.png" alt="Variation in origins by region">
    </a>
  </figure>
</div>

<div itemscope itemtype="https://schema.org/ScholarlyArticle">
  <strong><em>Impacts of Centralized Budget Policy on National Parks: An analysis of the
      Federal Land Recreation Enhancement Act</em></strong>
</div>
<div class="d-flex gap-2 mb-2">
  <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" href="#abstract-FLREA" role="button"
    aria-expanded="false" aria-controls="abstract-FLREA">
    Abstract
  </a>
  <a class="btn btn-sm btn-outline-secondary mb-2" data-bs-toggle="collapse" href="#figures-FLREA" role="button"
    aria-expanded="false" aria-controls="figures-FLREA">
    Selected figures
  </a>
  <!-- <small>(Draft available upon request)</small> -->
</div>

<div id="abstract-FLREA" class="collapse mb-2">
  The Federal Land Recreation Enhancement Act (FLREA) of 2004 gave park managers greater control over how user fees were
  collected and used within parks. At the same time, the public became concerned that it might decrease central
  appropriation dollars to those same parks. I digitize official National Park Service (NPS) documents to create a
  dataset containing over 10,000 park-year observations spanning 1986-2019, and empirically test for crowding out of
  central appropriations by comparing fee-charging parks to non-fee-charging parks before and after FLREA. My findings
  offer cautiously optimistic news to NPS policymakers: there is little evidence that FLREA led to systematic crowding
  out of federal appropriations. That is, there is no obvious empirical evidence that the amount of money apppropriated
  to parks collecting fees changed in a more or less drastic way than those parks not collecting user fees.
</div>

<div id="figures-FLREA" class="collapse papers">
  <figure style="width:75%">
    <a href="/images/research/nps-flrea/rev_ratio-group.png" target="_blank">
      <img src="/images/research/nps-flrea/rev_ratio-group.png" alt="Larger parks are more dependent on fee revenue">
    </a>
  </figure>
  <figure style="width:75%">
    <a href="/images/research/nps-flrea/synth-controls.png" target="_blank">
      <img src="/images/research/nps-flrea/synth-controls.png"
        alt="Synthetic controls show dramatic decrease in central apporpriations per visitor after FLREA">
    </a>
  </figure>
</div>