<div itemscope itemtype="https://schema.org/ScholarlyArticle">
 <h4 class="research-paper"><strong><em>Alternative Financing for America's National Parks: An application of weak complementarity</em></strong></h4>
</div>

<div itemscope itemtype="https://schema.org/ScholarlyArticle">
 <h4 class="research-paper"><strong><em>Additionality in the Market for Environmental Services</em></strong> (with <a href="https://spencerbanzhaf.wordpress.ncsu.edu/" target="_blank"><span itemprop="author">Spencer Banzhaf</span></a> and <a href="https://cnr.ncsu.edu/directory/erin-o-sills/" target="_blank"><span itemprop="author">Erin Sills</span></a>)</h4>
</div>

<div itemscope itemtype="https://schema.org/ScholarlyArticle">
 <h4 class="research-paper"><strong><em>Recreation Welfare Effects with Climate Change-Induced Migration</em></strong></h4>
</div>

<div itemscope itemtype="https://schema.org/ScholarlyArticle">
 <h4 class="research-paper"><strong><em>Using Matching Theory to Improve University Transfer Processes</em></strong> (with <a href="https://sites.google.com/site/umutdur/" target="_blank"><span itemprop="author">Umut Dur</span></a> and <a href="https://www.linkedin.com/in/colton-leach-54a080136/" target="_blank"><span itemprop="author">Colton Leach</span></a>)</h4>
</div>
