 /*------------- Whole Document---------------- */

body {
    font-family: 'Muli';
    font-size: 19px;
}

/* links */
a { 
  color: #CC0000; /* wolfpack red main bar */
}

a:hover {
 color: #990000; /* Reynolds red when hovering */
}

/*----------------ADDING WHITE SPACE-------------*/

.title {
  margin-top: 2em !important;
  margin-bottom: 0.75em;
}

.section h1,
.section h2, 
.section h3, 
.section h4, 
.section h5 { 
  padding-top: 3em !important; /*adding so much padding because theme adds a margin-top: -65px by default */
  margin-bottom: 0.75em;
}

/* Space Between TOC and 
Righthand side content on large screens */

@media (min-width: 992px) {
  .col-md-9 {
    width: 75%;
    padding-left: 5em !important;
  }
}
 
/*----------LOGO above TOC---------*/
#header.fluid-row::before {
 content: "";
 height: 150px;
 width: 150px;
 float: right;
 background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/North_Carolina_State_University_Athletic_logo.svg");
 background-size: contain;
 background-position: center center;
 background-repeat: no-repeat;
}
