
/* CSS HEX */
:root {
  --ut-orange: #ff8811ff;
  --jasmine: #f4d06fff;
  --floral-white: #fff8f0ff;
  --tiffany-blue: #9dd9d2ff;
  --space-cadet: #392f5aff;
}

/*------------- Whole Document---------------- */

body {
    font-family: 'Muli';
    font-size: 19px;
    background-color: var(--floral-white);
}

/* links */
a { 
  /*color: #CC0000; /* wolfpack red main bar */
  color: var(--space-cadet);
}

a:hover {
 /*color: #990000; /* Reynolds red when hovering */
 color: var(--tiffany-blue);
}
